.register-card {
    border: none !important;
    width: 300px;
}

.login-modal {
    max-width: 400px !important;
}

.left {
    width: 400px;
}

.right {
    width: 400px;
    background-color: #ffc107;
    color: #fff;
}

.checker {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    margin-bottom: 7px;
}

.intro-body {
    width: 87%;
    margin: 70px auto;
}

@media (min-width: 576px) {
    .register-modal {
        max-width: 800px !important;
    }

    .login-modal {
        max-width: 400px !important;
    }
}